/target
/.idea
*.iml
FileServer.toml
*.log

# generated certs etc
cert_options.conf
*.crt
*.pem
*.x509
*.key

# all database files
*.sqlite*

# files generated / used for tests
*::*
test_assets

# directories generated during runtime
file_previews
.file_server_temp/**
!.file_server_temp/.gitkeep
/files
