/target
/.idea
/files
*.iml
*.sqlite*
*.pem
*.x509
*.key
cert_options.conf
.file_server_temp/**
!.file_server_temp/.gitkeep
FileServer.toml
*.log
# failed test folders and files stick around for debugging, and have `::` in them because of how threads are named in rust
*::*
file_previews